-- Function to get meal details by meal_id and user_id
create or replace function get_meal_detail(
  p_user_id text,
  p_meal_id uuid
) returns jsonb language plpgsql security definer as }
declare
  v_result jsonb;
begin
  -- Get basic meal info
  select jsonb_build_object(
    'meal_id', m.meal_id,
    'meal_time', m.meal_time,
    'note', m.note,
    'image_url', md.image_url,
    'food_items', (
      select jsonb_agg(
        jsonb_build_object(
          'foodName', f.name,
          'calories', f.calories,
          'protein', f.protein,
          'fat', f.fat,
          'carb', f.carbs,
          'quantity', mi.quantity
        )
      )
      from meal_item mi
      join food f on mi.food_id = f.food_id
      where mi.meal_id = m.meal_id
    )
  ) into v_result
  from meal m
  left join meal_detection md on md.meal_detection_id = (
    select meal_detection_id 
    from meal_detection 
    where user_id = p_user_id and image_url is not null
    order by created_at desc 
    limit 1
  )
  where m.meal_id = p_meal_id and m.user_id = p_user_id;

  return v_result;
end;
};

-- Function to delete a meal and its items
create or replace function delete_meal(
  p_user_id text,
  p_meal_id uuid
) returns boolean language plpgsql security definer as }
declare
  v_meal_exists boolean;
begin
  -- Check if meal exists and belongs to user
  select exists(
    select 1 from meal
    where meal_id = p_meal_id and user_id = p_user_id
  ) into v_meal_exists;
  
  if not v_meal_exists then
    return false;
  end if;
  
  -- Delete meal items first (foreign key constraint)
  delete from meal_item where meal_id = p_meal_id;
  
  -- Delete meal
  delete from meal where meal_id = p_meal_id and user_id = p_user_id;
  
  -- Update nutrition log for the day
  select date(meal_time at time zone 'UTC') into v_meal_date
  from meal
  where meal_id = p_meal_id;
  
  if v_meal_date is not null then
    perform update_nutrition_log(p_user_id, v_meal_date);
  end if;
  
  return true;
end;
};

-- Function to get all meals by user
create or replace function get_meals_by_user(
  p_user_id text
) returns jsonb[] language plpgsql security definer as }
declare
  v_result jsonb[];
begin
  select array_agg(
    jsonb_build_object(
      'meal_id', m.meal_id,
      'meal_time', m.meal_time,
      'note', m.note,
      'image_url', md.image_url,
      'total_calories', nl.total_calories,
      'total_protein', nl.total_protein,
      'total_fat', nl.total_fat,
      'total_carb', nl.total_carbs,
      'food_items', (
        select jsonb_agg(
          jsonb_build_object(
            'foodName', f.name,
            'calories', f.calories,
            'protein', f.protein,
            'fat', f.fat,
            'carb', f.carbs,
            'quantity', mi.quantity
          )
        )
        from meal_item mi
        join food f on mi.food_id = f.food_id
        where mi.meal_id = m.meal_id
      )
    )
  ) into v_result
  from meal m
  left join meal_detection md on md.user_id = m.user_id
  left join nutrition_log nl on nl.user_id = m.user_id and nl.log_date = date(m.meal_time at time zone 'UTC')
  where m.user_id = p_user_id
  order by m.meal_time desc;
  
  return v_result;
end;
};
